# Hidden directories
.vscode/
.cache/

# Build directories
binaries/
obj/
images/
iso_root/

# Special files
compile_commands.json

# Binaries
*.bin
*.elf
*.exe

# Images
*.img
*.hdd
*.iso

# Notes
TODO.md

# Downloaded
/limine/
/limine-protocol/
kernel/limine.h